.container{
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.box-flex{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;
}

.box-flex mat-form-field, .box-flex app-select-country{
  display: inline-block;
  width: calc( 50% - 10px );
}

.button{
  display: block;
  margin-left: auto;
  margin-right: 10px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
