<mat-form-field appearance="outline">
  <mat-label>Country</mat-label>
  <input type="text"  matInput [formControl]="formControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" >
    <mat-option *ngFor="let country of countries" [value]="country.Code">
      {{country.Name}} ({{country.Code}})
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="formGroup.get(control)?.invalid">
    <span *ngIf="formGroup.get(control)?.hasError('requiredIfEmpty')" >Country is required if email is empty</span>
  </mat-error>
</mat-form-field>
